p, input {
	font-family: "Oswald", "Roboto", Verdana, sans-serif;
}

button {
	font-family:  "Roboto", Verdana, sans-serif;
}

th {
	font-family: "Neucha", "Trebuchet MS", sans-serif;
	font-weight: normal;
}

tr {
	height: 20px;
}

body > header {
	background: rgb(246, 142, 104);
	padding-left: 0.5rem;
	padding-right: 0.5rem;
}

body > footer {
	position: fixed;
	bottom: 0;
	right:0;
	padding-bottom: 0;
}

nav > ul > li {
	padding-bottom: 0;
	padding-top: 0;
}

#settings {
	background-color: rgb(170,165,160);
	min-height: 160px;
	max-width: 100%;
	padding: 0.2rem;
	display: grid;
	grid-template-columns: 1fr 1fr;
	width: 50rem;
}

#answer_box {
	width: 10rem;
	height: 1rem;
}

#settings_button {
	margin-bottom: 1rem;
}

#dev_mode_button {
	height: 2rem;
	padding-bottom: 0;
	padding-top: 0;
}

.settings-button {
	margin: 0.1rem;
}

button#help {
	height: 1.5rem;
	width: 1.5rem;
	padding:0;
	border-radius: 0.75rem;
	margin-bottom: 1rem;
}